<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>About is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>

        <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4f3efbcf-dda2-465c-a360-5b054c026abe&groupId=1bfd7c4e-5127-4b87-9781-1664c12d3656&autoAuth=true&ctid=c6f02e32-dcde-443f-adec-cdc1bd5df937" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>